body {
    margin: 0 auto;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px) 20px 20px;
    gap: 10px;
}
.box {
    background-color: gray;
    border: 1px dashed black;

}
#box-1 {
    grid-row: span 5;
}
#box-11, #box-12  {
    grid-column: span 3;
}
#box-6, #box-7, #box-10, #box-9 {
    background-color: tomato;
}