/* variables */
:root {
    --dark-1: #181818;
    --dark-2: #474747;
    --dark-3: #757575;
    --dark-5: #D1D1D1;
}
/* shared styles */
.primary-color {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.align-center {
    text-align: center;
}

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */

nav {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
    margin: 0 226px;
}

nav ul {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner {
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-content {
    /* border: 1px solid black; */
    /* width: 585px; */
    max-width: 585px;
    /* height: 356px; */
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin: 100px 0 5px 0;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin: 5px;
}
.banner-description {
    font-size: 18px;
}
.banner-profile-pic {
    /* border: 1px solid #000; */
    width: 584px;
    height: 676px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* section styles */
.section-title {
    color: var(--dark-1);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.section-description {
    color: var(--dark-3);
    font-size: 18px;
    text-align: center;
    max-width: 830px;
    margin: 0 auto;
}

/* about styles */
.about {
    text-align: center;
    border-radius: 10px;
    padding: 131px 156px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}
.about-items {
    margin-top: 40px;
}
.item-title {
    color: var(--dark-3);
    font-size: 20px;
}
.item-description {
    color: var(--dark-2);
    font-size: 20px;
    font-weight: bold;
}

/* skills styles */
.skills-container {
    display: flex;
    margin-top: 50px;
    gap: 24px;
}
.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-1);
}
.skill-description {
    font-size: 16px;
    color: var(--dark-3);
}

/* resume styles */
.resume-container {
    display: flex;
    gap: 24px;
}
.resume-column-title {
    color: var(--dark-2);
    font-size: 30px;
    font-weight: 700;
}
.experience-title {
    color: var(--dark-2);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.experience-subtitle {
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
}
.experience-description {
    color: var(--dark-3);
    font-size: 16px;
    margin-bottom: 30px;
}
.resume-container hr {
    color: var(--dark-5);
    /* width: 8px; */
}
 .btn-download-cv {
    margin: 25px;
 }

 /* footer style */
 footer {
    display: flex;
    padding: 130px 230px;
    gap: 117px;
 }

 footer .section-title {
    margin-bottom: 20px;
 }

 footer input {
    display: block;
 }
 footer .section-description {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
 }
 .social img {
    margin-right: 24px;
 }
.footer-column {
    /* border: 1px solid black; */
    width: 50%;
}
footer input[type="text"], input[type="email"], textarea {
    height: 64px;
    color: var(--dark-3);
    background-color: white;
    border-radius: 5px;
    margin: 12px 0;
    border: none;
    width: 100%;
    padding: 18px 30px;
}
footer textarea {
    height: 180px;
}